<div class="item cell">
  <div class="photo">
      <img routerLink="/school" class="avatar" alt="Avatar"
           src="https://area.sinaapp.com/bingImg/">
  </div>
  <div class="info">
      <span class="title">
        <a routerLink="/">List item模块测试</a>
      </span>
    <div class="sep"></div>
    <div class="detail">
      <a class="node" routerLink="/">问&答</a>&nbsp;•&nbsp;
      <strong>
        <a routerLink="/">touch</a>
      </strong>
      &nbsp;•&nbsp;
      1 分钟前
      &nbsp;•&nbsp;
      最后回复来自&nbsp;
      <strong>
        <a routerLink="/">touch</a>
      </strong>
    </div>
  </div>
  <div class="reply">
    <a routerLink="/">18</a>
  </div>
</div>
